* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
}

ul {
  list-style: none;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/home/showcase.jpg') no-repeat center center/cover;
  height: 100vh;
  color: #fff;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    h1 {
      font-size: 55px;
    }

    p {
      font-size: 23px;
      max-width: 600px;
      margin: 20px 0 30px;
    }
  }
}

.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  &:hover {
    opacity: 0.9;
  }
}

.btn-primary {
  color: white;
  background-color: #28a745;
}
.btn-secondary {
  color: white;
  background-color: #0284d0;
}
.btn-dark {
  color: white;
  background-color: #333;
}
.btn-dark {
  color: #333;
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #333;
  opacity: 0.8;
  width: 100%;
  height: 70px;

  top: 0px;
  padding: 0 30px;
  a {
    color: white;
    padding: 10px 20px;
    margin: 0 5px;
    &:hover {
      border-bottom: #28a745 2px solid;
    }
  }
  ul {
    display: flex;
  }
}

.icons {
  padding: 30px;
  h3 {
    font-weight: bold;
    margin-bottom: 15px;
  }
  i {
    background-color: #28a745;
    color: white;
    padding: 1rem;
    border-radius: 50%;
    margin-bottom: 15px;
  }
}

.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  div {
    padding: 20px;
  }
}

.flex-columns {
  .row {
    display: flex;
    flex-direction: row;
  }
}
